.features-split {

	.section-inner {
		padding-top: $features-split--padding-t__mobile;
		padding-bottom: $features-split--padding-b__mobile;
	}

	.section-header {
		padding-bottom: $features-split-header--padding__mobile;
	}

	.nav-tabs {
		margin-bottom: 15px;

		> a {
			@include media( '<=medium') {
				padding-right: 5px;
				padding-left: 5px;
			}

			&:hover{
				background-color: get-color(secondary, 3);
			}
		}

		.active {
			background-color: color(secondary);
			color: color("high-contrast");
		}
	}
}

@include media( '>medium' ) {

	.features-split {

		.section-inner {
			padding-top: $features-split--padding-t__desktop;
			padding-bottom: $features-split--padding-b__desktop;
		}

		.section-header {
			padding-bottom: $features-split-header--padding__desktop;
		}

		.nav-tabs {
			margin-bottom: 20px;

			> a {
				&:hover{
					background-color: get-color(secondary, 3);
				}
			}

			.active {
				background-color: color(secondary);
				color: color("high-contrast");
			}
		}
	}
}
